
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover; 
    filter: blur(2.5px);
    z-index: -1;  
}
.blur {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1A1A19;  
    padding: 40px;
    width: 300px;    
    height: auto;     
    background-color:white; 
    margin: 175px auto; 
    left: 25px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); 
}
.blur-1{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1A1A19;  
    padding: 40px;
    width: 300px;    
    height: 380px;     
    background-color:white; 
    margin: 120px auto; 
    left: 25px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); 
}
input{
    text-align: center;
    border: solid ;
    padding: 15px;
    margin:12px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); 
}

button{
    background-color: #1A1A19;
    color: white;
    border-radius: 5px;
    padding: 2px;
    height: 35px;
    width: 65px;
    margin: 7px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); 
}
span{
    text-decoration-line: underline;
    color: black;
}
img{
    margin-top: 15px;
    height:  20px;
    width:  20px;
    object-fit: cover;
    padding: 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); 
}
.login{
    background-image: url("./login.jpg");
    background-repeat: no-repeat;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 30%;
    }
  }

  h1 {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    display: inline-block;
    animation: typing 1s steps(20,end);
  }